#control {
  display: flex;
  user-select: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.control-actions { 
  flex: 400px;
}

.control-status { 
  flex-grow: 2;
}

.control-button {
  width: 90px;
  height: 90px;
  margin: 5px 5px;
}

.fa.fa-rotate-45 { transform: rotate(45deg); }
.fa.fa-rotate-135 { transform: rotate(135deg); }
.fa.fa-rotate-225 { transform: rotate(225deg); }
.fa.fa-rotate-315 { transform: rotate(315deg); }

